<div class="container">
  <div class="row">
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            (click)="collapsed = !collapsed"
          >
            <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
          </button>
          <a class="navbar-brand">
            <i class="fas fa-shop"></i>           
          </a>
        </div>
        <div
          class="navbar-collapse"
          [class.collapse]="collapsed"
          (window:resize)="collapsed = true"
        >
          <ul class="nav navbar-nav">
            <li routerLinkActive="active" *ngIf="isAuthenticated && !isAdmin">
              <a routerLink="/shop">Shop</a>
            </li>
            <li routerLinkActive="active" *ngIf="!isAuthenticated">
              <a routerLink="/register">Register</a>
            </li>
            <li routerLinkActive="active" *ngIf="!isAuthenticated">
              <a routerLink="/login">Login</a>
            </li>
            <li routerLinkActive="active" *ngIf="isAuthenticated && isAdmin">
              <a routerLink="/items">Items</a>
            </li>
            <li routerLinkActive="active" *ngIf="isAuthenticated && isAdmin">
              <a routerLink="/categories">Categories</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated">
            <li routerLinkActive="active">
              <a style="cursor: pointer" *ngIf="isAuthenticated && !isAdmin" routerLink="/shoppingcart">
                <i class="fas fa-shopping-cart"></i>
                <span style="position: absolute; top: 0; right: 0; background-color: red; color: white; border-radius: 50%; padding: 2px 6px; font-size: 10px;">
                  {{ cartCount$ | async }}
                </span>
              </a>
            </li>
            <li class="dropdown" appDropdown>
              <a class="dropdown-toggle" role="button">
                Account <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a (click)="onLogout()" style="cursor: pointer">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
