<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewItem()">New Item</button>
  </div>
  
  <div class="col-xs-12" style="padding-top: 15px;">
    <div class="input-group mb-3" >
      <div class="input-group-prepend">
        <div class="input-group-text col-xs-3" *ngFor="let cat of categories$ | async">          
          <input            
            type="checkbox"
            aria-label="Checkbox for following text input"            
            (click)="filterItems(cat.id)"
          />
          {{ cat.name }}
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12" style="padding-top: 10px; padding-bottom: 20px">
    <input
      class="form-control"
      [(ngModel)]="searchTerm"
      placeholder="Type to Filter"
      (input)="filterItems()"
    />
  </div>


  <div *ngFor="let item of items$ | async">
    <div class="row"></div>
    <app-item-card [item]="item"></app-item-card>
  </div>
</div>
