<div class="row">
  <div class="col-xs-12 col-md-3 col-md-offset-4">
    <h2 class="text-uppercase text-center">Login</h2>
    <p *ngIf="error" class="invalid-text">
      {{ error }}
    </p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Your Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
        />
        <div
          class="invalid-text"
          *ngIf="
            loginForm.get('email')?.invalid &&
            (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
          "
        >
          <div *ngIf="loginForm.get('email')?.hasError('required')">
            Email is required.
          </div>
          <div *ngIf="loginForm.get('email')?.hasError('email')">
            Should be a valid email format
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        />
        <div
          class="invalid-text"
          *ngIf="
            loginForm.get('password')?.invalid &&
            (loginForm.get('password')?.dirty ||
              loginForm.get('password')?.touched)
          "
        >
          <div *ngIf="loginForm.get('password')?.hasError('required')">
            Password is required.
          </div>
          <div *ngIf="loginForm.get('password')?.hasError('pattern')">
            <ul>
              <li>Password should have at least one uppercase</li>
              <li>Password should have at least one lowercase</li>
              <li>Password should have at least one number</li>
              <li>Password should have at least one special character</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="text-center">

        <button
          type="submit"
          class="btn btn-primary btn-block btn-lg"
          [disabled]="!loginForm.touched || !loginForm.valid || isLoading"          
        >
          {{ isLoading? "" : "Login" }}
          <app-loading-spinner
          *ngIf="isLoading"
          style="text-align: center"
        ></app-loading-spinner>
        </button>
      </div>

      <p class="text-center text-muted">
        Have not register yet?
        <a routerLink="/register" class="fw-bold text-body"
          ><u>Register here</u></a
        >
      </p>
    </form>
  </div>
</div>
