<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="categories$ | async">
  <div class="row pull-right">
    <div class="col-xs-12">
      <button type="button" class="btn btn-danger" (click)="onCancel()">
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!form.valid || !form.touched"
      >
        Save
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="category">Category</label>
        <select
          name="category"
          id="category"
          class="form-control"
          formControlName="category"
        >
          <option *ngFor="let cat of categories$ | async" [value]="cat.id">
            {{ cat.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="name"
          formControlName="name"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="price">Price</label>
        <input
          class="form-control"
          type="number"
          name="price"
          id="price"
          formControlName="price"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          name="description"
          id="description"
          rows="5"
          formControlName="description"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-9 form-group">
          <label for="imagePath">Main Image Url</label>
          <input
            class="form-control"
            type="text"
            id="imagePath"
            name="imagePath"
            formControlName="imagePath"
            #imagePath
          />
        </div>
        <div class="col-xs-2 form-group">
          <img
            *ngIf="imagePath.value"
            [src]="imagePath.value"
            alt=""
            class="img-responsive"
            style="height: 50px"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" formArrayName="images">
      <label for="imagePath">Image Url(s)</label>
      <div
        class="row"
        *ngFor="let imgControl of imagesFormArray.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="col-xs-9 form-group">
          <input
            type="text"
            class="form-control"
            formControlName="path"
            #path
          />
        </div>
        <div class="col-xs-2 form-group">
          <img [src]="path.value" alt="" style="height: 50px" />
        </div>
        <div class="col-xs-1 form-group">
          <button
            type="button"
            class="btn btn-danger"
            (click)="onDeleteImage(i)"
          >
            X
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-default" (click)="onAddImage()">
            Add Image
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
