<div class="container">
  <div class="row" *ngFor="let item of items$ | async; let i = index" style="padding: 15px">
    <div class="col-xs-3">
      <app-image-slideshow
        [images]="getItemImages(item)"
        [style]="{ height: '150px' }"
      ></app-image-slideshow>
    </div>
    <div class="col-xs-6">
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
    </div>
    <div class="col-xs-3">
      <h3>{{ item.price | currency }}</h3>
      <button
      name="addToCart_{{i}}"
        class="btn btn-default"
        style="background-color: rgb(44, 138, 247); font-weight: bold; width: 120px;"
        (click)="onAddToCart(item, i)"
      >
        {{ isLoading[i] ? "" : "Add to Cart" }}
        <app-loading-spinner
          *ngIf="isLoading[i]"
        ></app-loading-spinner>
      </button>
    </div>
  </div>
</div>
